<!doctype html>
<html>
	<head>
		<title>Blackjack!</title>
	</head>
	<body background="https://cdn.shopify.com/s/files/1/0309/9869/products/Large-Blue-Background._grande.jpg?v=1387238678">
	<h1>Let's play Blackjack!</h1>
		<h2>Dealer Hand</h2>
		{{#dealer.cards}}
			<div>{{ visualRepresentation }} of {{ suit }}</div>
		{{/dealer.cards}}
		<br>
		{{#dealerHand.values}}
		<div>Card Total: {{ . }}</div>
		{{/dealerHand.values}}
		<hr>
		<h2>Your Hand</h2>
		{{#gambler.cards}}
			<div>{{ visualRepresentation }} of {{ suit }}</div>
		{{/gambler.cards}}
		<br>
		{{#gamblerHand.values}}
		<div>Card Total: {{ . }}</div>
		{{/gamblerHand.values}}
		<hr>
		<div><b>Wager:</b> {{ actualBet }}</div>
		<div><b>Cash in Wallet:</b> {{ gambler.cashInWallet }}</div>
		<div><b>Cards Left In Deck:</b> {{ numberOfCardsLeftInDeck }}</div>
		{{#makeBetBeforeRound}}
		<form method="post" action="/blackjack/bet">
			<input autofocus type="number" step= "any" name="enteredValue" value="0" required>
			<button>Bet</button>
		</form>
		{{/makeBetBeforeRound}}
		{{#playHand}}
		<form method="post" action="/blackjack/hit">
			<button>Hit</button>
		</form>	
		<form method="post" action="/blackjack/stand">
			<button>Stand</button>
		</form>
		{{/playHand}}
		<form method="post" action="/blackjack/reset">
			<button>Reset Game</button>
		</form>
		<form method="post" action="/blackjack/rules">
			<button>Rules</button>
		</form>
	</body>
</html>