<!doctype html>
<html>
	<head>
		<title>Blackjack!</title>
	</head>
	<body>
	<h1>Let's play Blackjack!</h1>
		<h2>Dealer Hand</h2>
		{{#dealerHand.values}}
			<div>Value: {{ . }}</div>
		{{/dealerHand.values}}
		<h2>Your Hand</h2>
		{{#gamblerHand.values}}
			<div>Value: {{ . }}</div>
		{{/gamblerHand.values}}
		<hr>
		{{#hand.cards}}
			<div>{{ suit }} of {{ visualRepresentation }}</div>
		{{/hand.cards}}
		<form method="post" action="/blackjack/bet">
			<input autofocus type="number" step= "any" name="enteredValue" value="0" required>
			<button>Bet</button>
		</form>
		<!--<form method="post" action="/blackjack/deal">
			<button>Deal</button>
		</form>-->
		<form method="post" action="/blackjack/stand">
			<button>Stand</button>
		</form>
		<form method="post" action="/blackjack/hit">
			<button>Hit</button>
		</form>	
		<form method="post" action="/blackjack/rules">
			<button>Rules</button>
		</form>
	</body>
</html>